.background-img {
  background-color: #41197f;
  display: flex;
  height: 340px;
  width: 360px;
}

.logo {
  height: 157px;
  left: 81px;
  position: absolute;
  top: 20px;
  width: 198px;
}

.tomate {
  position: absolute;
  top: 140px;
  width: 358px;
}

.container-form {
  height: 422px;
  position: absolute;
  top: 400px;
  width: 360px;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: center;
}

input {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  padding: 15px;
  width: 276px;
}

h1 {
  text-align: center;
}

.position-btn {
  text-align: center;
}

button {
  background-color: #41197f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 40px;
  margin-top: 10px;
  transition: 0.7s;
  width: 276px;
}

button:disabled {
  background-color: #ccc;
  transition: 0.7s;
}

@media screen and ( min-width : 1024px ) {

  .background-img {
    align-items: center;
    background-color: #41197f;
    display: flex;
    height: 30vh;
    justify-content: center;
    width: 100%;
  }

  .logo {
    position: static;
  }

  .tomate {
    display: none;
  }

  .container-form {
    background-color: #41197f;
    height: 70vh;
    position: static;
    width: 100%;
  }
}
